@font-face {
    font-family: 'Alegreyasanssc';
    src: url(../fonts/alegreyasanssc-black-webfont.woff) format('woff'), url(../fonts/alegreyasanssc-black-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}